<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>burst2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,460},{220,244}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{220,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,236},{224,252}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{224,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{228,256}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{228,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{236,264}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,20},{236,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,284},{240,272}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{240,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,588},{248,276}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{248,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,588},{248,280}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{248,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{256,284}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{256,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,296},{256,292}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{256,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{264,292}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{264,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{264,292}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{264,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>burst2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{272,296}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{272,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>burst2-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fc1b014e9ef30d3f53add2268abdfb1:1/1$</string>
            <key>textureFileName</key>
            <string>burst2-ipadhd.png</string>
        </dict>
    </dict>
</plist>
